<section class="mx-auto mt-4 w-75 text-center">
    <h1 class="mb-4">Thank for your buy {{user.name}}!</h1>
    <h5>We sent an email to: {{user.email}}</h5>
    <a href="/" class="btn btn-primary w-50 mt-4">Back to Home</a>
</section>